name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. 拉代码
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. 安装 Node
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # 3. 安装 pnpm 并安装依赖
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: true

      # 5. Lint
      - name: Lint
        #  这里用的是你 package.json 里的脚本：eslint . ...
        run: pnpm lint

      # 6. Build
      - name: Build
        run: pnpm build
